:root {
  --color-hit: #099e42;
  --color-graze: #e1ae06;
  --color-miss: #747474;
  --color-empty: #ddd;
  --color-filled: #bbb;
  --color-bg: #fff;
  --color-bg2: #eee;
  --color-fg: #000;

  --color-ui-border: var(--color-fg);

  --tile-size: min(12vw, 4rem);
  
  background: var(--color-bg);
  color: var(--color-fg);

  font-family: "Noto Sans Mono", monospace;
}

dialog::backdrop {
  transition: backdrop-all 300ms ease-in-out;
  backdrop-filter: blur(0px);
}

dialog[open]::backdrop {
  backdrop-filter: blur(3px);
}

@keyframes correctWord {
  from {
    transform: rotate(0deg);
    background-color: var(--color-hit);
  }
  25% {
    background-color: cyan;
  }
  50% {
    background-color: magenta;
  }
  75% {
    background-color: yellow;
  }
  to {
    transform: rotate(360deg);
    background-color: var(--color-hit);
  }
}
body.hardMode {
  --color-ui-border: #d50000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-hit: #22d767;
    --color-graze: #e1ae06;
    --color-miss: #747474;
    --color-empty: #333;
    --color-filled: #555;
    --color-bg: #000;
    --color-bg2: #111;
    --color-fg: #fff;
  }
  ::backdrop {
    --color-bg-transparent: rgba(0,0,0,0.75);
  }
  a {
    color: lightskyblue;
  }
  a:visited {
    color: plum;
  }
  body.hardMode {
    --color-ui-border: red;
  }
}

body.lingo {
  --color-hit: #cb2828;
  --color-graze: #f9de13;
  --color-miss: #253086;
  --color-empty: #3d425d;
  --color-filled: #585a77;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-filled);
}

body {
  margin: 0;
}

button {
  background: var(--color-ui-bg);
  border: 2px solid var(--color-fg);
  border-radius: 6px;
  color: var(--color-fg);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-shadow: 1px 2px 0px var(--color-fg);
}

button:active {
  transform: translate(1px, 2px);
  box-shadow: none;
}

dialog {
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  inset: 1rem;
  background: var(--color-bg);
  color: var(--color-fg);
  width: 36rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100svh - 2rem);
  overflow: auto;
  opacity: 0;
  transition: opacity 250ms;
  border: 2px solid var(--color-ui-border);
}

dialog[open] {
  opacity: 1;
}

.dontBreakWord {
  display: inline-block;
  white-space: nowrap;
}

.inlineTile {
  display: inline-block;
  border: 1px solid currentColor;
  margin: -0.0625em 1px;
  padding: 0.0625em;
  width: 1.125em;
  height: 1.125em;
  line-height: 1.125em;
  text-align: center;
  font-weight: 700;
}

.toast {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  will-change: transform;
  animation: 0.5s cubic-bezier(0.2, 0, 0.4, 1) normal forwards toastKeyframes, 0.8s 4.2s cubic-bezier(0, 0, 0.4, 1) reverse forwards toastKeyframes;
  background-color: var(--color-bg2);
  border: 1px solid var(--color-fg);
  padding: 1rem;
  border-radius: 1rem;
  max-width: calc(100vw - 4rem);
}

@keyframes toastKeyframes {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 1rem);
  }
}

#game {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100vw;
  height: 100svh;
  gap: 8px;
}

#toolbar {
  flex: 0 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg2);
  gap: 4px;
  border-bottom: 2px solid var(--color-fg);
}

body.hardMode #toolbar {
  border-bottom-color: var(--color-ui-border);
  color: var(--color-ui-border);
}

#toolbar button {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
}

body.hardMode #toolbar button,
body.hardMode #keyboard button[data-key="Enter"],
body.hardMode #keyboard button[data-key="Backspace"] {
  background: var(--color-ui-bg);
  border: 2px solid var(--color-ui-border);
  color: var(--color-ui-border);
  box-shadow: 1px 2px 0px var(--color-ui-border);
}

#title {
  line-height: 1.5;
}

#board {
  width: fit-content;
  align-self: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-ui-border);
  gap: calc(var(--tile-size) * 0.0625);
  padding: calc(var(--tile-size) * 0.125);
}

.row {
  width: 100%;
  height: var(--tile-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(var(--tile-size) * 0.0625);
}

.row > .letter {
  flex: 0 0 auto;
  text-align: center;
  width: var(--tile-size);
  line-height: var(--tile-size);
  font-size: calc(var(--tile-size) * 0.6);
  background-color: var(--color-empty);
  color: var(--color-bg);
  font-weight: 700;
}

.row > .letter.filled {
  background-color: var(--color-filled);
  color: var(--color-fg);
}

.row > .letter.hit {
  background-color: var(--color-hit);
  color: var(--color-bg);
}

.row > .letter.graze {
  background-color: var(--color-graze);
  color: var(--color-bg);
}

body.lingo .row > .letter.graze {
  background: radial-gradient(
    circle,
    var(--color-graze) 66%,
    var(--color-miss) 68%
  );
}

.row > .letter.miss {
  background-color: var(--color-miss);
  color: var(--color-bg);
}

.row.answer > .letter {
  animation: cubic-bezier(0.4, 0, 0.25, 1) 500ms correctWord;
}

.row.answer > .letter:nth-child(2) {
  animation-delay: 50ms;
}

.row.answer > .letter:nth-child(3) {
  animation-delay: 100ms;
}

.row.answer > .letter:nth-child(4) {
  animation-delay: 150ms;
}

.row.answer > .letter:nth-child(5) {
  animation-delay: 200ms;
}

#keyboard {
  align-self: center;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
  width: 100%;
  max-width: 35rem;
}

.keyRow {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 0.25rem;
  flex-wrap: wrap;
  margin: 0 8px;
}

.keyRow button {
  flex: 1 1 0;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.25rem;
}

.keyRow button.empty {
  border-color: var(--color-fg);
  color: var(--color-fg);
  box-shadow: 1px 2px 0px var(--color-fg);
}

.keyRow button.hit {
  border-color: var(--color-hit);
  color: var(--color-hit);
  box-shadow: 1px 2px 0px var(--color-hit);
  font-weight: bold;
}

.keyRow button.graze {
  border-color: var(--color-graze);
  color: var(--color-graze);
  box-shadow: 1px 2px 0px var(--color-graze);
  font-weight: bold;
}

.keyRow button.miss {
  border-color: var(--color-miss);
  color: var(--color-miss);
  box-shadow: 1px 2px 0px var(--color-miss);
  opacity: 0.5;
}

p {
  line-height: 1.6;
}

#gameOver textarea {
  background-color: var(--color-bg2);
  border: 1px solid var(--color-fg);
  font-family: inherit;
  font-size: 0.75rem;
  box-sizing: border-box;
  height: auto;
  min-height: fit-content;
  color: var(--color-fg);
}

#playStats {
  box-sizing: border-box;
  margin: 0 auto;
  border-collapse: collapse;
}

#playStats th, #playStats td {
  padding: 0 0.25rem;
}

#playStats th:nth-child(n+2), #playStats td:nth-child(n+2) {
  border-left: 1px solid var(--color-fg);
}

#scoreBar {
  box-sizing: border-box;
  width: 100%;
}

#scoreBar .header {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

#scoreBar > div {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

#scoreBar > div + div {
  margin-top: 0.25rem;
}

#scoreBar > div b {
  flex: 0 0 auto;
  margin-right: 0.25rem;
}


#scoreBar .barBG {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  background: var(--color-filled);
}

.barFG, .barSpacer {
  flex: 1 1 0px;
}

.barFG {
  background-color: var(--color-hit);
  color: var(--color-bg);
}

#scoreBar > :last-child .barFG {
  background-color: var(--color-filled);
  color: var(--color-bg);
}

.cols {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  height: auto;
  min-height: fit-content;
  gap: 1rem;
}

.cols > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 0.25rem;
}

.settingsList {
  padding-inline-start: 2rem;
  list-style: none;
}

.settingsList li {
  text-indent: -2rem;
}

#settings li + li {
  padding-block-start: 1rem;
}